{% load i18n %}
{% load staticfiles %}

<html>
  <style>

    table, th, td {
      text-align: left;
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
    }

    .load-more {
      text-align: center;
    }

    .unknown-repo {
      color: red;
    }

  </style>
  <script src="{% static "js/jquery.js" %}" type="text/javascript" %}></script>
  <script>
    var currentPage = 1;
    $(function() {
      $("#loadmore").click(function() {
        var params = {current_page: currentPage, repo_name: "{{ repo_name }}"};
        $.get('/get_issue_batch/', params, function(data) {
          currentPage += 1;
          for (i = 0; i < data.length; i++) {
            $('#issue-table tr:last').prev().after(
              '<tr><td>' + data[i].number + '</td><td>' + data[i].created_at + '</td><td>' +
              data[i].user.login + '</td><td>' + data[i].title + '</td><td>' +
              data[i].body.substring(0, 80) + '</td></tr>'
            );
          }
        });
      });
    });

  </script>
  <body>
    <p>Choose a repo to track issues for!</p>

    <form action="/" method="post">
      {% csrf_token %}
      {{ repo_form }}
    <input type="submit" value="Go!" />
    </form>

    {% if error %}
        <p class="unknown-repo">{% trans "Unknown repo" %}</p>

    {% elif issues %}
      <table id="issue-table" style="width:100%">

        <tr>
          <th>Issue Number</th>
          <th>Date Created</th>
          <th>User Name</th>
          <th>Title</th>
          <th>Summary</th>
        </tr>

        {% for issue in issues %}
          <tr>
            <td>{{ issue.number }}</td>
            <td>{{ issue.created_at }}</td>
            <td>{{ issue.user.login }}</td>
            <td>{{ issue.title }}</td>
            {% if issue.body %}
              <td>{{ issue.body|slice:"80" }}{% trans "..." %}</td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
       {% endfor %}

        <tr>
          <td class="load-more" colspan="5">
            <button id="loadmore" type="button">{% trans "Load more" %}</button>
          </td>
        </tr>

      </table>

    {% endif %}

  </body>
</html>
